---
layout: base.njk
eleventyNavigation:
  key: home
  title: Home
  order: 1
---

<h1>The New Adventures of Nyx and Sasha</h1>

<p>Nyx and Sasha are starting out on a brand new adventure. Both were left at the Vanguard Institute's door step when they were babies and have been wards of Saleh Araleth, the specter head master of the organization training center for adventurers, ever since.</p>

<div class="md:flex justify-center place-items-center">
  <div class="md:w-1/4 md:pr-5">
    <img src="{{ 'game/images/themindofnox.webp' | url }}" alt="The Mind of Nox"/>
  </div>
  <div class="md:w-1/4">
    <p class="md:mb-0">Follow along with us at <a href="https://themindofnox.com">The Mind of Nox</a> on their first adventure where they try to join the prestigious organization upon which they were raised.</p>
  </div>
</div>